.hero {
  padding: ($m-gutter * 3) ($m-gutter);
  // background-color: $c-hero;
  text-align: center;

  &__head {
    margin-top: 0;
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    font-family: 'Bree Serif', serif;
    font-size: 3.5rem;
  }


  &__subhead {
    margin-top: 0;
    padding-bottom: 1rem;
    font-family: 'Bree Serif', serif;
    font-size: 2rem;
  }
}

.secondary {
  background-color: $c-hero;
}
