.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 14rem;
  // I really want to get this where it's not guessing the margins ^^^
  background-color: $c-main;


  &__icon {
    margin: 1rem 0;
    padding: $m-gutter / 4;
    border: 2px solid $c-black;
    font-family: $f-special;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: $m-gutter / 4;
  }

  &__list-item {
    padding: 0 0.5rem;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-decoration: none;

    :hover {
      color: $c-white;
    }
  }

  &__list-item a {
    color: $c-black;
    text-decoration: none;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: $m-gutter;
  background-color: $c-section;

  &__item {
    margin: 0 $m-gutter / 2;
    font-family: $f-font;
    font-size: 1.25rem;
  }

  a {
    color: $c-black;

    :hover {
      color: $c-bright;
    }
  }
}
