.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 14rem;
  // I really want to get this where it's not guessing the margins ^^^
  background-color: $c-nav;


  &__icon {
    margin: 1rem 0;
    font-family: $f-special;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__list-item {
    padding: 0 0.5rem;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-decoration: none;
  }
}


// Do I want this?
a {
  color: black;
  text-decoration: none;
}
