.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $c-nav;

  &__icon {
    margin: 1rem 0;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
  }

  &__item {
    padding: 0 0.5rem;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
    text-decoration: none;
  }
}


// Do I want this?
a {
  color: black;
  text-decoration: none;
}
