// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';

// measurements
$m-gutter: 1rem;

// colors
$c-section: #f7f7f0;
$c-nav: #64d7bc;
$c-bright: #32ba9a;
$c-main: #daf2ea;
$c-black: #000;
$c-white: #fff;

// fonts
$f-font: 'Bree Serif', serif;
$f-special: 'Pacifico', cursive;

@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'resets';
@import 'projects';
@import 'about';

.skills-grid {
  display: flex;
  padding: 0 $m-gutter * 2;

  &__card {
    margin: $m-gutter;
    padding: $m-gutter;
    background-color: $c-white;
    box-shadow: 2px 2px 8px #ddd;
  }
}



// .skill-category {
//   margin: 0;
//   color: $c-main;
//   font-family: $f-special;
//   font-size: 2rem;
//   text-decoration: underline;
// }
//
// .skill-list {
//   margin: ($m-gutter / 2) 0;
//
//   &__item {
//     margin: ($m-gutter / 2) 0;
//     color: $c-black;
//     font-family: $f-font;
//     font-size: 1.5rem;
//   }
// }
//
// .skill-sublist {
//   &__item {
//     font-family: $f-font;
//     font-size: 1rem;
//   }
// }
//

.skill-category {
  margin: 0;
  color: $c-bright;
  font-family: $f-special;
  font-size: 2rem;

  &__item {
    margin: ($m-gutter / 2) 0;
    margin-right: $m-gutter / 2;
    color: $c-black;
    font-family: $f-font;
    font-size: 1.5rem;
  }

  &__subitem {
    font-family: $f-font;
    font-size: 1rem;
  }
}
