// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// measurements
$m-gutter: 1rem;

// colors
$c-section: #f7f7e4;
$c-nav: #32ba9a;
$c-hero: #c2e7da;

@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'resets';


.projects {
  padding: $m-gutter 0;
  background-color: $c-section;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

.project-image {
  max-width: 15rem;
}
