// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// measurements
$m-gutter: 1rem;

// colors
$c-section: #f7f7e4;
$c-nav: #32ba9a;
$c-hero: #daf2ea;
$c-black: #000;

// fonts
$f-font: 'Bree Serif', serif;
$f-special: 'Pacifico', cursive;

@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'resets';
@import 'projects';
@import 'about';

.skills {
  padding: $m-gutter * 2;
}

.skill__type {
  color: $c-black;
  font-family: $f-special;
}
