// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

.nav {
  background-color: #32ba9a;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}


.nav__icon {
  font-family: sans-serif;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-family: 'Pacifico', cursive;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;

}

a {
  text-decoration: none;
  color: black;
}

.nav__item {
  font-size: 1.5rem;
  font-family: sans-serif;
  text-decoration: none;
  padding: 0 0.5rem;
  font-family: 'Pacifico', cursive;
}

.hero {
  background-color: #c2e7da;
  text-align: center;
  padding: 2rem;
}

.hero__head {
  margin-top: 0;
  padding-top: 1rem;
  font-family: 'Bree Serif', serif;
  font-size: 4rem;
}

.hero__subhead {
  padding-bottom: 1rem;
  font-family: 'Bree Serif', serif;
  font-size: 2rem;
}

/*Projects*/

.projects-view {
  background-color: #f7f7e4;
  text-align: center;
  padding: 1rem 0;
  font-family: 'Bree Serif', serif;
}

.project-image {
  max-width: 15rem;
}


/*resets*/
ul {
  list-style: none;
  padding-left: 0;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}
