// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// measurements
$m-gutter: 1rem;

// colors
$c-section: #f7f7e4;
$c-nav: #32ba9a;
$c-hero: #daf2ea;
$c-black: #000;

// fonts
$f-font: 'Bree Serif', serif;
$f-special: 'Pacifico', cursive;

@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'resets';
@import 'projects';
@import 'about';

.skills {
  padding: $m-gutter * 2;
}

.skill-category {
  margin: 0;
  color: $c-nav;
  font-family: $f-special;
  font-size: 2rem;
  text-decoration: underline;
}

.skill-list {
  margin: ($m-gutter / 2) 0;

  &__item {
    margin: ($m-gutter / 2) 0;
    color: $c-black;
    font-family: $f-font;
    font-size: 1.5rem;
  }
}

.skill-sublist {
  &__item {
    font-family: $f-font;
    font-size: 1rem;
  }
}
