// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';

// measurements
$m-gutter: 1rem;

// colors
$c-section: #f7f7e4;
$c-nav: #32ba9a;
$c-hero: #c2e7da;
$c-black: #000;

@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'resets';


.projects {
  padding: $m-gutter  0;
  font-family: 'Bree Serif', serif;
  text-align: center;

  &__image {
    max-width: 18rem;
  }

  &__header {
    color: $c-black;
    font-size: 3rem;
  }
}

.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__item {
    margin: 0 $m-gutter;
    flex-basis: calc(100% / 3 - 2rem);
  }
}

.tertiary {
  background-color: $c-section;
}
