// @import 'yoga';
// @import 'normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome';

// measurements
$m-gutter: 1rem;

// colors
$c-section: #f7f7f0;
$c-nav: #64d7bc;
$c-bright: #32ba9a;
$c-main: #daf2ea;
$c-black: #000;
$c-white: #fff;

// fonts
$f-font: 'Bree Serif', serif;
$f-special: 'Pacifico', cursive;

@import 'box-sizing';
@import 'nav';
@import 'hero';
@import 'resets';
@import 'projects';
@import 'about';
@import 'skills';
